h1{
	color:#A569BD;
}
h2{
	color:#C39BD3;
}
body{
	background: linear-gradient(to top,#E66465 ,#9198E5 );
}
pq{
	color:#17202A ;
	font-family: ;
	font-size: 20px;
	color:#DE1234;
}
h1, tr, tdq{
	text-align: center;
	color: #7e5109;
}
textoq{
	font-weight: bold;
}
contenedorq{
	
}